<p id="notice"><%= notice %></p>

<h3>Team Name: <%= @team.name %></h3>

<p>
<b>Rival: </b><%=@team.rival ? @team.rival.name : "None" %><br>
<b>Punching Bag: </b><%=@team.punching_bag ? @team.punching_bag.name : "None" %>
</p><br>

<p>
<b>Players:</b>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Username</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<%@players.each do |player|%>
		<tr>
			<td><%=player.name%></td>
			<td><%=player.username%></td>
			<td><%=link_to 'Show', player_path(player)%> | <%=link_to "Remove", remove_player_path(:id => @team.id, :player_id => player.id)%> </td>
		</tr>
		<%end%>
	</tbody>
</table>
</p><br>

<p>
<b>Leagues the team is in:</b>
<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Rating</th>
		</tr>
	</thead>
	<tbody>
				<%@leagues.each do |league|%>
				<tr>
					<td><%=league.name%></td>
					<td><%=@team.rating(league)%></td>
				</tr>
			<%end%>
	</tbody>
</table>
</p><br>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
