<h1>Listing leagues</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Games per set</th>
    <th>Sets per match</th>
    <th>Competition</th>
    <th>Number Teams</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @leagues.each do |league| %>
  <tr>
    <td><%= league.name %></td>
    <td><%= league.league_type %></td>
    <td><%= league.games_per_set %></td>
    <td><%= league.sets_per_match %></td>
    <td><%= league.competition.name %></td>
    <td><%= league.teams.count %></td>
    <td><%= link_to 'Show', league %></td>
    <td><%= link_to 'Edit', edit_league_path(league) %></td>
    <td><%= link_to 'Destroy', league, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New League', new_league_path, :class => "btn btn-primary"%>
