<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @league.name %>
</p>

<p>
  <b>Type:</b>
  <%= @league.type %>
</p>

<p>
  <b>Games per set:</b>
  <%= @league.games_per_set %>
</p>

<p>
  <b>Sets per match:</b>
  <%= @league.sets_per_match %>
</p>

<p>
  <b>Competition:</b>
  <%= @league.competition_id %>
</p>

<p>
<b>Teams:</b>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%@teams.each do |team|%>
    <tr>
      <td><%=team.name%></td>
      <td><%=link_to 'Show', team_path(team)%> </td>
    </tr>
    <%end%>
  </tbody>
</table>
</p><br>

<%= link_to 'New Game', starting_point_league_path(@league) %> |
<%= link_to 'Add Teams To League', add_teams_league_path(@league) %> |
<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
