<%= form_for([@competition, @score_type]) do |f| %>
  <% if @score_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score_type.errors.count, "error") %> prohibited this score_type from being saved:</h2>

      <ul>
      <% @score_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :mandatory %><br />
    <%= f.check_box :mandatory %>
  </div>
  <div class="field">
    <%= f.label :high_scored, "How is this scored?" %><br />
    High is better<%= f.radio_button :high_scored, true%>
    Low is better<%= f.radio_button :high_scored, false%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
