<h1>Listing score_types</h1>

<table>
  <tr>
    <th>Competition</th>
    <th>Name</th>
    <th>Primary</th>
    <th>Mandatory</th>
    <th>How is this game scored?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @score_types.each do |score_type| %>
  <tr>
    <td><%= score_type.competition_id %></td>
    <td><%= score_type.name %></td>
    <td><%= score_type.primary ? "Yes" : "No" %></td>
    <td><%= score_type.mandatory ? "Yes" : "No" %></td>
    <td><%= score_type.high_scored ? "High is better" : "Low is better" %></td>
    <td><%= link_to 'Show', competition_score_type_path(:competition_id => @competition.id, :id => score_type.id) %></td>
    <td><%= link_to 'Edit', edit_competition_score_type_path(:competition_id => @competition.id, :id => score_type.id) %></td>
    <td><%= link_to 'Destroy', competition_score_type_path(:competition_id => @competition.id, :id => score_type.id), :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Score type', new_competition_score_type_path(:competition_id => @competition.id) %>
<%= link_to 'Back to Competition', @competition %>
