<p id="notice"><%= notice %></p>

<p>
  <b>Competition:</b>
  <%= @score_type.competition_id %>
</p>

<p>
  <b>Name:</b>
  <%= @score_type.name %>
</p>

<p>
  <b>Mandatory:</b>
  <%= @score_type.mandatory ? "Yes" : "No" %>
</p>

<p>
  <b>How is this game scored?</b>
  <%= @score_type.high_scored ? "High is better" : "Low is better" %>
</p>

<%= link_to 'Edit', edit_competition_score_type_path(:competition_id => @competition.id, :id => @score_type.id) %> |
<%= link_to 'Back', @competition %>
