<%= form_for([@game_set, @game]) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="span6"><br>
    <h3>Team 1</h3>
    <%=f.fields_for :plays_ins, @p1 do |builder|%>
      <%= render 'plays_in_fields', :f => builder, :team => @team1 %>
    <%end%>
  </div>

  <div class="span6"><br>
    <h3>Team 2</h3>
    <%=f.fields_for :plays_ins, @p2 do |builder|%>
      <%= render 'plays_in_fields', :f => builder, :team => @team2 %>
    <%end%>
  </div>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
