<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>
<b>Sets Played:</b>
<table class="table">
  <thead>
    <tr>
      <th>Winner</th>
      <th>Loser</th>
      <th>Games Played</th>
    </tr>
  </thead>
  <tbody>
        <%@game_sets.each do |set|%>
        <tr>
          <td><%=set.winner.name%></td>
          <td><%=set.loser.name%></td>
          <td><%=set.games.count%></td>
        </tr>
      <%end%>
  </tbody>
</table>
</p><br>

<%=link_to "New Set", create_and_redirect_match_path(:id => @match.id), :class => "btn btn-primary" %>

<% end %>
