<p id="notice"><%= notice %></p>
<h1>Editing match</h1>
<h3>Score: </h3>
<h4><%=@wins_counts[0].name%>: <%=@wins_counts[1]%>, <%=@wins_counts[2].name%>: <%=@wins_counts[3]%></h4>
<br><br>
<%= render 'form' %>

